* {
  padding: 0;
  margin: 0;
}
*, *::after, *::before {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 1000;
  backdrop-filter: blur(10px);
}
header .header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 30px;
  width: 100%;
  box-sizing: border-box;
}
header .header__container nav {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
header .header__container nav input {
  display: none;
}
header .header__container nav .header__nav-bar {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
header .header__container nav .header__nav-bar .header__nav-list {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  gap: 2rem;
  list-style: none;
  white-space: nowrap;
}
header .header__container nav .header__nav-bar .header__nav-list .header__nav-listItem {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
}
header .header__container nav .header__nav-bar .header__nav-list .header__nav-listItem a {
  text-decoration: none;
  color: white;
}

main {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  margin-top: 16.25rem;
  position: relative;
  z-index: 500;
}
main .main__initialBlock {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 52px;
  margin-bottom: 9.4rem;
}
main .main__initialBlock h1 {
  margin-bottom: 20px;
}
main .main__initialBlock .main__text-divider {
  display: block;
}
main .main__initialBlock .main__textItalic {
  font-style: italic;
  color: rgb(118, 167, 240);
}
main .main__initialBlock p {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
}
main .main__initialBlock .main__join-button {
  width: 182px;
  height: 24px;
  text-transform: uppercase;
  color: #53F3CD;
  font: "Lato", sans-serif;
  font-size: 16px;
  letter-spacing: 1.5px;
  font-weight: 700;
  background-color: black;
  box-shadow: 0 4px 8px rgba(83, 243, 205, 0.5);
  margin: 10px;
  margin: 0;
  font-family: "Lato", sans-serif;
}
main .main__secondSection {
  display: flex;
  max-width: 1170px;
  width: 100%;
  height: 33.75rem;
  justify-content: start;
  margin-bottom: 200px;
  border: 2pz solid green;
}
main .main__secondSection .main__section1-img {
  z-index: -1;
  max-width: 570px;
  width: 100%;
  height: 100%;
}
main .main__secondSection .main__section1-text {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  transform: translate(50%, 45px);
  height: 580px;
  max-width: 770px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  align-items: center;
}
main .main__secondSection .main__section1-text .main__section1-price {
  max-width: 370px;
  width: 100;
  height: auto;
}
main .main__secondSection .main__section1-text .main__section1-paragraph {
  max-width: 370px;
  width: 100;
  text-align: left;
  color: white;
  box-sizing: border-box;
}
main .main__secondSection .main__section1-text .main__section1-paragraph p {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.918);
  position: relative;
  padding: 25px 10px;
  margin-bottom: 10px;
}
main .main__secondSection .main__section1-text .main__section1-paragraph p span {
  display: block;
  margin-top: 10px;
}
main .main__secondSection .main__section1-text .main__section1-paragraph button {
  width: 182px;
  height: 24px;
  text-transform: uppercase;
  color: #53F3CD;
  font: "Lato", sans-serif;
  font-size: 16px;
  letter-spacing: 1.5px;
  font-weight: 700;
  background-color: black;
  box-shadow: 0 4px 8px rgba(83, 243, 205, 0.5);
  margin: 10px;
}
main .main__secondBlock .main__secondBlock__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1170px;
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}
main .main__secondBlock .main__secondBlock__container .main__secondBlock__item {
  max-width: 550px;
  width: 100%;
  height: 100%;
  padding: 20px 35px;
  border-top: 1px solid #515773;
  /* Top border */
  border-bottom: none;
  /* Bottom border */
  border-left: none;
  /* No left border */
  border-right: none;
  /* No right border */
  margin-right: 30px;
  box-sizing: border-box;
}
main .main__secondBlock .main__secondBlock__container .main__secondBlock__item h3 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 34px;
  margin-bottom: 20px;
}
main .main__secondBlock .main__secondBlock__container .main__secondBlock__item h3 span {
  font-style: italic;
  color: rgb(118, 167, 240);
}
main .main__secondBlock .main__secondBlock__container .main__secondBlock__item p {
  font-size: 18px;
  font-weight: 300;
}
main .main__thirdBlock__container {
  max-width: 1170px;
  width: 100%;
  height: 100%;
  background-image: url(../assets/quote-background.svg);
  background-size: cover;
  padding: 4.37rem 16.8rem 6rem 5.5px;
  margin-bottom: 120px;
}
main .main__thirdBlock__container h4 {
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 2px;
  padding-left: 70px;
  padding-top: 50px;
  line-height: 46px;
  position: relative;
  margin-bottom: 40px;
}
main .main__thirdBlock__container h4::before {
  content: "";
  background-image: url("../assets/quote-icon.svg");
  background-position: left center;
  background-repeat: no-repeat;
  position: absolute;
  top: 31%;
  left: 10px;
  transform: translateY(-50%);
  width: 100px;
  height: 90px;
}
main .main__thirdBlock__container p {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 20px;
  font-style: italic;
  letter-spacing: 2px;
  padding-left: 70px;
}
main .main__screenBlock {
  max-width: 970px;
  width: 100%;
  height: 48.56rem;
  margin: 0 auto;
  margin-bottom: 120px;
}
main .main__screenBlock img {
  margin-bottom: 50px;
}
main .main__screenBlock h5 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 20px;
}
main .main__screenBlock span {
  font-style: italic;
  color: rgb(118, 167, 240);
}
main .main__screenBlock p {
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  padding-right: 4.6rem;
  letter-spacing: 0.2px;
}
main .main__doublelayerBlock {
  max-width: 1170px;
  width: 100%;
  height: 33.75rem;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 120px;
}
main .main__doublelayerBlock .main__doublelayerBlock__img {
  z-index: -1;
  max-width: 600px;
  height: 100%;
  width: 100%;
  object-fit: contain;
  position: relative;
  top: 0;
  left: 0;
}
main .main__doublelayerBlock .main__doublelayerBlock__textBox {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  transform: translate(50%);
  background-color: rgba(0, 0, 0, 0.8);
  max-width: 770px;
  width: 100%;
  height: 28.1rem;
  box-sizing: border-box;
  padding: 75px 70px;
}
main .main__doublelayerBlock .main__doublelayerBlock__textBox .doublelayerBlock__text {
  max-width: 18rem;
  width: 100%;
  height: 7.18rem;
  box-sizing: border-box; /* Add this line */
}
main .main__doublelayerBlock .main__doublelayerBlock__textBox .doublelayerBlock__text h5 {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 1px;
  margin-bottom: 18px;
}
main .main__doublelayerBlock .main__doublelayerBlock__textBox .doublelayerBlock__text p {
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0.3px;
}
main .main__doublelayerBlock .main__doublelayerBlock__textBox .doublelayerBlock__text span {
  display: block;
}
main .main__doublelayerBlock .main__doublelayerBlock__textBox button {
  width: 182px;
  height: 24px;
  text-transform: uppercase;
  color: #53F3CD;
  font: "Lato", sans-serif;
  font-size: 16px;
  letter-spacing: 1.5px;
  font-weight: 700;
  background-color: black;
  box-shadow: 0 4px 8px rgba(83, 243, 205, 0.5);
  margin: 10px;
  padding: 30px 35px 50px 35px;
  width: 220px;
  margin: 0;
  margin-top: 20px;
}
main .main__finalBlock {
  max-width: 1170px;
  width: 100%;
  height: 510px;
  margin-bottom: 100px;
}
main .main__finalBlock h6 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 20px;
}
main .main__finalBlock span {
  color: rgb(118, 167, 240);
  font-style: italic;
}
main .main__finalBlock p {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 17px;
  margin-bottom: 50px;
  letter-spacing: 0.3px;
  line-height: 26px;
}
main .main__finalBlock p .finalBlock__paragraphSpan {
  display: block;
  font-style: normal;
  color: white;
}
main .main__finalBlock .main__finalBlock__textBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  gap: 10px;
}
main .main__finalBlock .main__finalBlock__textBox .main__finalBlock__textPiece {
  max-width: 370px;
  width: 100%;
  height: 340px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 30px 40px 26px 40px;
  line-height: 26px;
  letter-spacing: 0.3px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  transform: scale(0.5, 0, 5);
}
main .main__finalBlock .main__finalBlock__textBox .main__finalBlock__textPiece .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgba(25, 28, 41, 0.4);
  z-index: 1; /* Place overlay above the image */
  opacity: 80%;
}
main .main__finalBlock .main__finalBlock__textBox .main__finalBlock__textPiece h6 {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.5px;
  z-index: 2;
  position: relative;
}
main .main__finalBlock .main__finalBlock__textBox .main__finalBlock__textPiece p {
  z-index: 3;
  position: relative;
  margin-bottom: 10px;
}
main .main__finalBlock .main__finalBlock__textBox .item1 {
  background-image: url(../assets/image1.png);
}
main .main__finalBlock .main__finalBlock__textBox .item2 {
  background-image: url("../assets/image2.png");
}
main .main__finalBlock .main__finalBlock__textBox .item3 {
  background-image: url(../assets/image3.png);
}

footer {
  max-width: 1170px;
  width: 100%;
  height: 400px;
  margin: 0 auto;
  border-top: 0.5px solid #515773;
  border-bottom: 0.5px solid #515773;
}
footer .footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 100px;
  gap: 3rem;
}
footer .footer-content .footer__contactText {
  max-width: 585px;
  width: 100%;
  height: 100%;
}
footer .footer-content .footer__contactText h6 {
  font-family: font-fam-Secondary;
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 20px;
}
footer .footer-content .footer__contactText span {
  color: rgb(118, 167, 240);
  font-style: italic;
}
footer .footer-content .footer__contactText p {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 17px;
  letter-spacing: 0.2px;
  line-height: 26px;
}
footer .footer-content .footer__form {
  max-width: 750px;
  width: 100%;
  height: 100%;
}
footer .footer-content .footer__form .contact-form {
  max-width: 750px;
  margin: 0 auto;
  padding: 20px;
  background-color: #0d1322;
  border-radius: 5px;
}
footer .footer-content .footer__form .form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
footer .footer-content .footer__form label {
  margin-right: 10px;
  white-space: nowrap;
  color: #BBBCC1; /* Label color */
  font-family: font-fam-Secondary;
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
}
footer .footer-content .footer__form input, footer .footer-content .footer__form textarea {
  width: 100%;
  padding: 10px;
  background-color: #161926; /* Input background */
  color: #BBBCC1;
  border: none; /* No border */
  border-bottom: 1px solid #BBBCC1;
  border-radius: 4px;
  margin-bottom: 10px;
}
footer .footer-content .footer__form input::placeholder, footer .footer-content .footer__form textarea::placeholder {
  color: #070707; /* Placeholder color */
}
footer .footer-content .footer__form button {
  width: 182px;
  height: 24px;
  text-transform: uppercase;
  color: #53F3CD;
  font: "Lato", sans-serif;
  font-size: 16px;
  letter-spacing: 1.5px;
  font-weight: 700;
  background-color: black;
  box-shadow: 0 4px 8px rgba(83, 243, 205, 0.5);
  margin: 10px;
  margin: 0;
  margin-top: 10px;
  padding: 16px;
  padding-bottom: 30px;
}
footer .footer__bottomPart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
footer .footer__bottomPart span {
  margin-right: 10px;
}

@media (max-width: 576px) {
  .header__container {
    flex-direction: column;
    align-items: flex-start;
  }
  .header__container .burger {
    display: block;
    visibility: visible;
  }
  .header__container .header__nav-bar {
    width: 100%;
  }
  .header__container .header__nav-bar .header__nav-list {
    flex-direction: column;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out, visibility 0.3s, opacity 0.3s;
  }
  .header__container .header__nav-bar .header__nav-list .header__nav-listItem {
    width: 100%;
    text-align: center;
    list-style: none;
  }
  .header__container .burger__input:checked ~ nav .header__nav-list {
    visibility: visible;
    opacity: 1;
    transform: translateY(100%);
  }
}
@media (max-width: 577px) {
  .main-container p {
    padding: auto;
    margin: 0;
    font-size: 10px;
    font-weight: 400;
  }
  .main-container,
  footer {
    padding: 10px;
    margin: auto;
    font-size: smaller;
  }
  .header .main__finalBlock {
    display: none;
  }
}
@media (min-width: 769px) {
  .burger {
    display: none;
  }
}
@media (max-width: 576px) {
  .main__finalBlock__textBox {
    max-height: 300px; /* Set a fixed height */
    overflow-y: auto; /* Enable vertical scrolling */
    padding-right: 15px; /* Add right padding to compensate for scrollbar */
  }
  .main__finalBlock__textPiece {
    margin-bottom: 20px; /* Optional: Add margin between items */
  }
  .footer-content {
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center; /* Optional: Center align items horizontally */
    text-align: center; /* Optional: Center align text */
  }
  .footer__devision {
    display: none; /* Hide the horizontal divider on small screens */
  }
  .footer-content {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Space between sections */
  }
  .footer__bottomPart {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between sections */
  }
}
.burger {
  cursor: pointer;
}
.burger input {
  position: absolute;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  max-width: 100%;
  position: relative;
  color: #FFFFFF;
  font-family: "Lato", sans-serif;
}
body::before {
  content: "";
  position: absolute;
  position: fixed; /* Fixed position to cover the background image */
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
  width: 100%;
  height: 100%;
  background: url("../assets/first-screen-image.svg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}

/*# sourceMappingURL=main.css.map */
