footer {
    max-width: 1170px;
    width: 100%;
    max-height: 400px;
    height: 100%;
    margin: 0 auto;
    border-top: 0.5px solid #515773;
    border-bottom: 0.5px solid #515773;
    
    

    .footer-content {
        display: flex;
        flex-wrap: wrap;        
        justify-content: space-around;        
        align-items: center;
        padding-top: 50px;
        padding-bottom: 100px;        
        gap: 3rem;
        



        .footer__contactText {
            max-width: 585px;
            width: 100%;
            height: 100%;
            flex: 1;

            h6 {
                font-family: font-fam-Secondary;
                font-weight: 400;
                
                margin-bottom: 20px;

            }

            span {


                color: rgb(118, 167, 240);
                font-style: italic;
            }

            p{font-family:  $font-fam;
                font-weight: 300;                             
                letter-spacing: 0.2px;
                line-height: 26px;

            }
        }

        

        .footer__form {
            flex: 1;
            max-width: 750px;
            width: 100%;
            height: 100%;
           
           
            
            

            .contact-form {
                max-width: 750px;
                margin: 0 auto;
                padding: 20px;
                background-color: #0d1225;
                border-radius: 5px;
            }
    
            .form-group {
                display: flex;
                align-items: center;
                margin-bottom: 15px;
            }
    
            label {
                margin-right: 10px;
                white-space: nowrap;
                color: #BBBCC1; /* Label color */
                font-family: font-fam-Secondary;
                font-style: italic;
                font-weight: 400;
                font-size: 18px;
            }
    
            input, textarea {
                width: 100%;
                padding: 10px;
                background-color: #0d1225; /* Input background */
                color: #BBBCC1;
                border: none; /* No border */
                border-bottom: 1px solid #BBBCC1;
                
                margin-bottom: 10px;
            }
    
            input::placeholder, textarea::placeholder {
                color: #161926; /* Placeholder color */
            }
    
            button {
                //@include button; 
                //margin: 0;
                margin-top: 30px; 
                //padding: 16px;
                //padding-bottom: 30px;
                background-color:#161926;
                
            }
    
            
         }

         
}
.footer__bottomPart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;

    span{
        margin-right: 10px;
    }
 } 


 

}

@media (min-width: 1200px) {
    h6{
        font-size: 40px;
    }

    p{font-size: 17px;   }
    
}

@media (max-width: 576px) {
    footer{
        padding: 12px;
        border: none;
        text-align: center;   

    .footer-content{
    flex-direction: column;
    padding: 12px;
    text-align: center;   


    
}
.footer__bottomPart{
    flex-direction: column;
    height: auto;
    text-align: center;
    

}

h6{
    font-size: 26px;
}

p{
    font-size: 14px; 
    padding: 0 5px;  
}

}

}