footer {
    max-width: 1170px;
    width: 100%;
    height: 400px;
    margin: 0 auto;
    border-top: 0.5px solid #515773;
    border-bottom: 0.5px solid #515773;

    

    .footer-content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;        
        align-items: center;
        padding-top: 50px;
        padding-bottom: 100px;        
        gap: 3rem;
        



        .footer__contactText {
            max-width: 585px;
            width: 100%;
            height: 100%;

            h6 {
                font-family: font-fam-Secondary;
                font-weight: 400;
                font-size: 40px;
                margin-bottom: 20px;

            }

            span {


                color: rgb(118, 167, 240);
                font-style: italic;
            }

            p{font-family:  $font-fam;
                font-weight: 300;
                font-size: 17px;                
                letter-spacing: 0.2px;
                line-height: 26px;

            }
        }

        

        .footer__form {
            max-width: 750px;
            width: 100%;
            height: 100%;
           
           
            
            

            .contact-form {
                max-width: 750px;
                margin: 0 auto;
                padding: 20px;
                background-color: #0d1322;
                border-radius: 5px;
            }
    
            .form-group {
                display: flex;
                align-items: center;
                margin-bottom: 15px;
            }
    
            label {
                margin-right: 10px;
                white-space: nowrap;
                color: #BBBCC1; /* Label color */
                font-family: font-fam-Secondary;
                font-style: italic;
                font-weight: 400;
                font-size: 18px;
            }
    
            input, textarea {
                width: 100%;
                padding: 10px;
                background-color: #161926; /* Input background */
                color: #BBBCC1;
                border: none; /* No border */
                border-bottom: 1px solid #BBBCC1;
                border-radius: 4px;
                margin-bottom: 10px;
            }
    
            input::placeholder, textarea::placeholder {
                color: #070707; /* Placeholder color */
            }
    
            button {
                @include button; 
                margin: 0;
                margin-top: 10px; 
                padding: 16px;
                padding-bottom: 30px;
                
            }
    
            
         }

         
}
.footer__bottomPart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;

    span{
        margin-right: 10px;
    }
 } 


 

}