main {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 16.25rem; // Space for header
    position: relative; // Change to relative
    z-index: 500; // Ensure it's above background


    .main__initialBlock {

        font-family: "Playfair Display", serif;
        font-weight: 400;
        font-size: 26px;
        line-height: 52px;
        margin-bottom: 9.4rem;

        h1 {
            margin-bottom: 20px;
        }

        .main__text-divider {
            display: block;

        }

        .main__textItalic {
            font-style: italic;
            color: rgb(118, 167, 240);
        }

        p {
            font-family: "Lato", sans-serif;
            font-weight: 300;
            font-size: 18px;
            line-height: 26px;
        }

        .main__join-button {
            @include button;
            margin: 0;
            font-family: "Lato", sans-serif;
        }
    }

    .main__secondSection {
        display: flex;

        max-width: 1170px;
        width: 100%;
        height: 678px;
        flex-direction: row;
        justify-content: start;
        margin-bottom: 135px;


        .main__section1-img {
            z-index: -1;
            width: 570px;
            height: 670px;
        }

        .main__section1-text {
            position: absolute;
            height: 36.25rem;
            width: 48.2rem;
            position: relative;
            transform: translate(-170px, 45px);
            background-color: rgba(0, 0, 0, 0.9); // Black background with 50% opacity
            display: flex;
            justify-content: space-between;
            align-items: center;



            .main__section1-price {

                width: 370px;
                height: 490px;
            }

            .main__section1-paragraph {

                width: 370px;
                height: 490px;
                text-align: left;
                color: white;
                box-sizing: border-box;


                p {
                    font-family: $font;
                    font-size: 18px;
                    color: rgba(255, 255, 255, 0.918);
                    position: relative;
                    padding: 25px 10px;
                    margin-bottom: 10px;

                    span {
                        display: block;
                        margin-top: 10px;

                    }


                }

                button {

                    width: 182px;
                    height: 24px;
                    text-transform: uppercase;
                    color: #53F3CD;
                    font: $font;
                    font-size: 16px;
                    letter-spacing: 1.5px;
                    font-weight: 700;
                    background-color: black;
                    box-shadow: 0 4px 8px rgba(83, 243, 205, 0.5);
                    margin: 10px;

                }

            }

        }
    }

    .main__secondBlock .main__secondBlock__container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 1170px;
        width: 100%;
        height: auto;
        margin-bottom: 40px;

        .main__secondBlock__item {
            max-width: 550px;
            width: 100%;
            height: 270px;
            //border: 2px solid #53F3CD;
            padding: 20px 35px;
            border-top: 1px solid #515773;
            /* Top border */
            border-bottom: none;
            /* Bottom border */
            border-left: none;
            /* No left border */
            border-right: none;
            /* No right border */
            margin-right: 30px;

            h3 {
                font-family: "Playfair Display", serif;
                font-weight: 400;
                font-size: 34px;
                margin-bottom: 20px;

                span {
                    font-style: italic;
                    color: rgb(118, 167, 240);
                }
            }

            p {
                font-size: 18px;
                font-weight: 300;
            }
        }
    }

    .main__thirdBlock__container {
        max-width: 1170px;
        width: 100%;
        height: 400px;
        background-image: url(../assets/quote-background.svg);
        padding: 70px 270px 100px 100px;
        margin-bottom: 120px;
    

    h4 {
        font-size: 32px;
        font-weight: 400;
        letter-spacing: 2px;
        padding-left: 70px;
        padding-top: 50px;
        line-height: 46px;
        position: relative; 
        margin-bottom: 40px;
    
        &::before {
            content: "";
            background-image: url('../assets/quote-icon.svg');
            background-position: left center;
            background-repeat: no-repeat;
            position: absolute;
            top: 31%; // Vertically center the image
            left: 10px; // Align to the left
            transform: translateY(-50%); // Adjust for perfect centering
            width: 100px; // Width of the image, adjust as needed
            height: 90px; // Height of the image, adjust as needed
        }
    }
    

    

    p {
        font-family: Playfair Display;
        font-weight: 400;
        font-size: 20px;
        font-style: italic;
        letter-spacing: 2px;
        padding-left: 70px;

    }
}

.main__screenBlock{
    max-width: 970px;
    width: 100%;
    height: 48.56rem;
    margin: 0 auto;
    margin-bottom: 120px;
    

    img{
        margin-bottom: 50px;
    }

    h5{
       font-family: Playfair Display; 
       font-weight: 400;
       font-size: 40px;
       margin-bottom: 20px;
    }

    span{
        font-style: italic;
        color: rgb(118, 167, 240);
    }

    p{
        font-size: 18px;
        font-weight: 300;
        line-height: 26px;
        padding-right: 4.6rem;
        letter-spacing: 0.2px;
    }

     

}

.main__doublelayerBlock {
    max-width: 1170px;
    width: 100%;
    height: 33.75rem;
    display: flex; 
    justify-content: start;  
    align-items: center;
    margin-bottom: 120px;
    
    .main__doublelayerBlock__img {
        z-index: -1;
        max-width: 600px;
        width: 100%;
    }

    .main__doublelayerBlock__textBox {
        position: absolute;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        transform: translate(50%);
        background-color: rgba(0, 0, 0, 0.8);
        max-width: 770px; /* Ensure this value is valid */
        width: 100%;
        height: 28.1rem;              
        box-sizing: border-box; /* Add this line */
        padding: 75px 70px;


        .doublelayerBlock__text {
            max-width: 18rem;
            width: 100%;
            height: 7.18rem;    
            box-sizing: border-box; /* Add this line */

            h5{
                font-family: Playfair Display;
                font-size: 24px;
                font-weight: 400;
                line-height: 48px;
                letter-spacing: 1px;
                margin-bottom: 18px;
            }
            p{
                font-size: 18px;
                font-weight: 300;
                line-height: 26px;
                letter-spacing: 0.3px;
            
            }

            span{
                display: block;
                

            }
        }
        button {
            @include button;  
            padding: 30px 35px 50px 35px;
            width: 220px;
            margin: 0;
            margin-top: 20px;
            
        }
    
    }

   
    
}

.main__finalBlock{
    max-width: 1170px;
    width: 100%;
    height: 510px;
    margin-bottom: 100px;

    h6{
        font-family: Playfair Display;
        font-weight: 400;
        font-size: 40px;
        margin-bottom: 20px;
    }

    span{
        
        
        color: rgb(118, 167, 240);
        font-style: italic;
    }

    p{
        font-family:  "Lato", sans-serif;
        font-weight: 300;
        font-size: 18px;
        margin-bottom: 50px;
        letter-spacing: 0.3px;
        line-height: 26px;

        .finalBlock__paragraphSpan{
                display: block;
                font-style: normal;
                color: white;
            }
        
       }

    .main__finalBlock__textBox{
        display: flex;
        flex-direction: row;
        
        justify-content: start;
        gap: 10px;

       



        .main__finalBlock__textPiece{
            max-width: 370px;
            width: 100%;
            height: 340px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            padding: 30px 40px 26px 40px;
            line-height: 26px;
            letter-spacing: 0.3px;
            font-size: 16px;
            font-weight: 400;
            font-family: "Lato", sans-serif;
           
            
            

            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                color: white;
                background-color: rgba(25, 28, 41, 0.4); 
                z-index: 1; /* Place overlay above the image */
                opacity: 80%;
            } 

            h6{
                font-family: Playfair Display;
                font-style: italic;
                font-weight: 400;
                font-size: 20px;
                letter-spacing: 0.5px;
                z-index: 2;
                position: relative;
            }
            
            p{ z-index: 3;
                position: relative;
                margin-bottom: 10px;

            }
                 
        }

        .item1{
            background-image: url(../assets/image1.png);
            
            
            
               
            
            
        }

        .item2{
            background-image: url('../assets/image2.png');
            
                
        }

        .item3{
            background-image: url(../assets/image3.png);
             
        }
    }
}

}


