main {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;   
    margin-top: 16.25rem; // Space for header
    position: relative; // Change to relative
    z-index: 500; // Ensure it's above background
    
    }

    

    @media (max-width: 576px) {
        main{
            
            margin-top: 6.25rem;  
    }
    }

