
.main__thirdSection__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1170px;
    width: 100%;
    height: auto;
    margin: 0;
    margin-bottom: 40px;
   

    .main__thirdSection__item{
        max-width: 540px;
        width: 100%;
        max-height: 250px; 
        height: 100%;     
        border-top: 1px solid #515773;    
        margin-right: 30px;
        box-sizing: border-box;
        

        h3 {
            font-family: $font-fam-Secondary;
            font-weight: 400;
            //font-size: 34px;
            margin-bottom: 20px;
            color: rgba(255, 255, 255, 1);

            span {
                font-style: italic;
                color: rgb(118, 167, 240);
            }
        }

        p {
            
            font-weight: 300;
        }
    }
}


@media (min-width: 1200px){
    .main__thirdSection__item{
        margin-bottom: 100px;
        padding: 50px 35px 20px;
        h3 {
            font-family: $font-fam-Secondary;
            font-weight: 400;
            font-size: 40px;
            
            span {
                font-style: italic;
                color: rgb(118, 167, 240);
            }
        }

        p {
            font-size: 18px;
            font-weight: 300;
        }
    }
}





@media (max-width: 576px){
    
    

    .main__thirdSection__item{
        //text-align: center;
        margin-bottom: 0;
        padding-top: 40px;
        height: auto;
        padding-bottom: 13px;
        
        
        h3{        
        font-size: 26px;       
        
    }

        p{
        font-size: 14px;
    }
    
    
    
    }
}